header {
    width: 100%;
    min-height: 200px;
    padding-top: 3em;
  }
.index{
    background: linear-gradient(black,transparent),
                url(Website\ Images/homePic.jpg);
    background-repeat:no-repeat;
    background-size: 100%;
    background-position:center
}
.SusIndex{
    background: linear-gradient(black,transparent),
                url(Website\ Images/sustainindex.jpg);
    background-repeat:no-repeat;
    background-size: 100%;
    height: 1000px; 
}
.main-header {
    width:100%;
    margin: 2em auto 0 auto;
    min-height: 100px;
    height: 100px;
  }
  .main-header .logo img {
    width: 120px;
    height: 120px;
    margin: 1em 2em;
    float: left;
  }
/* Nav*/
.main-menu {
    margin-left: 200px;
    font-weight: 40px;
    width: auto;
  }
  .main-menu ul li {
    list-style-type: none;
    display: inline-block;
    padding-left: 25px;
    padding-right: 25px;
    line-height: 100px;
    text-transform: uppercase;
    font-size: 16px;
  }
  .main-menu ul li a {
    text-decoration: none;
    color:white;
    font-size: 20px;
  }
  .main-menu ul li a:hover {
    color: #9ed034;
  }
  .main-menu ul li.active {
    background: #9ed034;
    border: none;
  }
  .main-menu ul li.active a {
    color: #fff;
  }
/*intro Index*/
main{
    padding-bottom: 80px;
}
main .introIndex{
    background-color: rgba(255, 254, 254, 0.678);
    width: 800px;
    height: 500px;
    margin: 0 auto;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;  
}
.introIndex h1{
    text-align: center;
    padding-top: 20px;
    font-weight: bold;
    word-wrap: break-word;
    text-decoration: underline rgb(135, 194, 46);
}  
.introIndex p{
    padding:10px 10px;
    word-wrap: break-word;   
}
.introIndex button{
    height: 80px;
    background-color: rgb(135, 194, 46);
    color: #fff;
    font-size: 20px;

}

/*Footer*/
footer{
    width:100%;
    height:270px;
    background: #011520;
    background:linear-gradient(0deg, #000000 0%, #6f7471 100%);
}

footer #disclaimer2 p{
    color:white;
    font-size:0.85;
    text-align: center;
}
footer #disclaimer2 p span a{
    color:#8cc63f;
}
footer .contactlogo img {
    width: 100px;
    height: 100px;
}
footer .contactinfo{
    color:white;
}
footer .contactinfo h5 {
    text-decoration: underline;
}
footer .social a img {
    width: 15px;
    height: 15px;
    margin:5px;
}
footer .contactinfo {
    width: 60%;
    height: 100%;
    float: left;
    padding:0.5em 3.5em 4.5em 2em;
}
footer .contactinfo .infobox1 {
    
    width: 45%;
    height: auto;
    float: left;
    
}
footer .contactinfo .infobox2 {
    
    width: 45%;
    height: auto;
    float: left;
    
}
footer .contactlogo {
    float: right;
    padding:1em;
    margin-right:20px;
}
footer #disclaimer2{
    clear:both;
}


/*About Page*/
#about .index{
    background: linear-gradient(black,transparent),
                url(Website\ Images/aboutpic.jpg);
    background-repeat:no-repeat;
    background-size: 100%;
    background-position:center;
    min-height: 800px; 
}
#about main h2{
    font-size: 36px;
    width: 20px;
    margin-left:100px;
}
#about main p{
    width:550px;
    height: 300px;
    background-color: rgba(255, 254, 254, 0.678);
    float: right;
    margin-right: 20px;
    margin-top: 85px;
}

/*Sustainability Index Page*/
#sustainindex .index{
    background: linear-gradient(black,transparent),
                url(Website\ Images/sustainindex.jpg);
    background-repeat:no-repeat;
    background-size: 100%;
    background-position:center;
    min-height: 1000px;
}
#sustainindex main h1{
    font-size: 80px;
    margin-left:650px ;
}


/*Roadmay Page*/
#roadmap .index{
    background: linear-gradient(black,transparent),
                url(Website\ Images/roadmapPic.webp);
    background-repeat:no-repeat;
    background-size: 100%;
    background-position:center;
    min-height: 950px;
}


/*Partners Page*/
#partner .index{
    background: linear-gradient(black,transparent),
                url(Website\ Images/partnerpic.jpg);
    background-repeat:no-repeat;
    background-size: 100%;
    background-position:center;
    min-height: 1000px;
}
#partner main h1{
    text-align: center;
    font-size: 80px;
}


/*Contact Us Page*/
form{
    font-size: 20px;
}
#contact .index{
    background: linear-gradient(black,transparent),
                url(Website\ Images/contactpic.jpg);
    background-repeat:no-repeat;
    background-size: 100%;
    height: auto;  
}
#contact fieldset{
    background-color: rgba(255, 254, 254, 0.678);
    border:none;
    height: 540px;
    width: 510px;
    margin-left: 1100px;
    margin-top: 60px;
    padding-left: 30px;
}
fieldset .textbox .cell{
    margin-bottom: 19px;
}
.textbox label{
    display: inline-block;
    width: 100px;
    text-align: left;
}
fieldset .textbox .smallcell{
    margin-bottom: 19px;
}
.textbox input, .randomcode input{
    
    background-color: rgba(149, 149, 149, 0.284);
    border:rgba(149, 149, 149, 0.832) 1px solid;
}
fieldset .textbox .cell span{
    font-style: italic;
}
.textbox .cell input{
    width: 380px;
    height: 20px;
}
.textbox .smallcell input, .randomcode input{
    height: 20px;
}

.smallcell #city{
    margin-left:87px ;
}
.smallcell #zip{
    margin-left:87px ;
}

.randomcode #codes{
    background-color:rgba(12, 110, 247, 0.373) ;
    font-weight: bold;
    width: 120px;
    height: 35px;
    color:white;
    float: right;
    margin-right: 60px;
    text-align: center;
    padding-top: 5px;
}
.codebutton{
    margin-top: 40px;
    margin-left: 184px;
}
input[type="reset"]{
    background-color: rgba(138, 137, 137, 0.606);
    color:white;
    font-size: medium;
    font-weight: bold;
    border:none;
    width: 120px;
    height: 32px;
    border-radius: 10px;
}
input[type="submit"]{
    background-color:#8cc63f;
    color: white;
    font-weight: bold;
    border: none;
    width: 120px;
    height: 32px;
    border-radius: 10px;
    margin-right: 40px;
    margin-left: 18px;
    font-size: medium;
}








